
body {
  background-image: url('/assets/images/edm_nine.jpg');
  background-repeat: no-repeat;
  background-size: cover;


}

.hero-title {
  font-family: "Courier New";
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  color: rgb(255, 69, 0);
  margin-bottom: 3rem;
  background-image: url('/assets/images/black_wall.jpg');
}

.selling-points {
}

.point-title, .point-description {
  text-align: left;
  color: black;
}

.point-description {
  font-family: "Courier New";
  font-size: 1rem;
  font-weight: bold;
  color: rgb(30, 144, 255);
}

.point-title {
  font-family: "Times New Roman";
  font-size: 1.75rem;
  color: White;
}

.point-one {
  position: fixed;
  center: 0;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.77);
  border-left: .25rem solid rgba(230, 174, 47, .5);
  border-top: .25rem solid rgba(230, 174, 47, .5);
  border-right: .25rem solid rgb(230, 174, 47);
  border-bottom: .25rem solid rgb(230, 174, 47);
  color: rgb(30,144,255);
}

.point-two {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.77);
  border-left: .25rem solid rgba(230, 174, 47, .5);
  border-top: .25rem solid rgba(230, 174, 47, .5);
  border-right: .25rem solid rgb(230, 174, 47);
  border-bottom: .25rem solid rgb(230, 174, 47);
  color: rgb(30,144,255);
}

.point-three {
  position: fixed;
  left: 0px;
  bottom: 0;
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.77);
  border-left: .25rem solid rgba(230, 174, 47, .5);
  border-top: .25rem solid rgba(230, 174, 47, .5);
  border-right: .25rem solid rgb(230, 174, 47);
  border-bottom: .25rem solid rgb(230, 174, 47);
  color: rgb(30,144,255);
}
