.App {
  background-image: url('/assets/images/black_wall.jpg');
}
.land-button {
  font-family: "Courier New";
  margin-right: 10px;
  background-color: rgb(0,0,0);
}

.lib-button {
  font-family: "Courier New";
  margin-right: 10px;
}
